extends ../layout/index

block contenido
  .py-10
    h1.text-4xl.my-10.font-extrabold.text-center Alerta
      span.font-normal Ruido
    h2.text-center.text-2xl.font-extrabold= pagina
    
    p.text-xl.font-bold.text-center.my-10= mensaje

     .mt-8.mx-auto.max-w-md
            .bg-green-400.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/reportes/mi-perfil" noValidate)
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-black-500.mb-2.font-bold(for="nombre") Nombre 
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre" value= usuario ? usuario.nombre : '') 
                    div 
                        label.block.text-sm.uppercase.text-black-500.mb-2.font-bold(for="apellido") Apellido 
                        input#apellido.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Apellido" type="text" name="apellido" value= usuario ? usuario.apellido : '')
                    div 
                        label.block.text-sm.uppercase.text-black-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email" value= usuario ? usuario.email : '')
                    div 
                        label.block.text-sm.uppercase.text-black-500.mb-2.font-bold(for="telefono") Telefono 
                        input#telefono.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Telefono" type="number" name="telefono" value= usuario ? usuario.telefono : '')
                    
                    input( class="w-full bg-green-600 hover:bg-green-800 text-black font-bold py-3 cursor-pointer" type="submit" value= "Actualizar Datos")

                    