doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Alerta Ruido | #{pagina}
        block styles
        link(rel="stylesheet", href="/css/app.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
        block styles
    body.min-h-screen.bg-gray-200
        include includes/header-admin
        main(class="mx-auto container mt-5 px-2")
        block contenido

        block scripts 