header.bg-green-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text.2xl.text-white.font-extrabold.text-center Alerta
            span.font-normal Ruido

        nav(class="my-1 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="admin/inicioAdmin" class="flex items-center space-x-3 rtl:space-x-reverse uppercase") Inicio
            a(href="/reportes/mi-perfil" class="flex items-center space-x-3 rtl:space-x-reverse uppercase") Mi Perfil
            a(class="bg-green-800 py-2 px-10 rounded-lg uppercase" href="/logout") Cerrar sesión 